header{
  background:RED;
  text-align: center;
  font-size:12px;
}

h1{
  text-align: center;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
